<div class="col-md-2 position-fixed side-bar">
    <div class="text-center my-5" style="width: 15rem;">
         <img src="/images/FORMEN_LOGO.png" alt="" style="width: 12rem;">
    </div>
    <div class="text-center row ms-2 fw-bold" style="width: 15rem;">
         <a href="/admin/dashboard" class="mb-3 btn btn border border-secondary fw-bold"><i class="fa-solid fa-chart-line"></i> DASHBOARD</a>
         <a href="/admin/banners" class="my-3 btn btn border border-secondary fw-bold"><i class="fa-solid fa-panorama"></i> BANNERS</a>
         <a href="/admin/category" class="my-3 btn btn border border-secondary fw-bold"><i class="fa-solid fa-boxes-stacked"></i> CATEGORY</a>
         <a href="/admin/users" class="my-3 btn btn border border-secondary fw-bold"><i class="fa-solid fa-users"></i> USERS</a>
         <a href="/admin/products" class="my-3 btn btn border border-secondary fw-bold"><i class="fa-solid fa-box-open"></i> PRODUCTS</a>
         <a href="/admin/orderManagement" class="my-3 btn btn border border-secondary fw-bold"><i class="fa-solid fa-truck"></i> ORDERS</a>
         <a href="/admin/coupons" class="my-3 btn btn border border-secondary fw-bold"><i class="fa-solid fa-tag"></i> COUPONS</a>
    </div>
 </div>