h1,h2,h3,h4,h5,h6,p{
    margin: 0 !important;
    padding: 0 !important;
}

.product-name{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.single-order{
    width: 25rem;
    word-wrap: break-word
}