.rating-box .stars {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .stars i {
    color: #a39898;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  .stars i.active {
    color: #e3ff11;
  }