body{
    margin: 0;
}
  
  .admin-login,
  .c-a-s1 {
    position: absolute;
    color: #000;
    text-align: center;
  }
  
  .admin-login {
    top: 8.5rem;
    left: 25%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
  }
  
  .c-a-s1 {
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    font-family: 'Abel', sans-serif;
  }
  
  .formen1,
  .logo1 {
    position: absolute;
    width: 10rem;
  }
  
  .formen1 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    display: inline-block;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #000;
    text-align: center;
    height: 2.44rem;
  }
  
  .logo1 {
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 3.38rem;
  }
  
  .group-child2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.15rem;
    background-color: #ce5f5f;
    border: 1px solid #6c757d;
    width: 16.56rem;
    height: 2.25rem;
  }
  
  .login1 {
    position: absolute;
    top: 0.31rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.25rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    text-align: center;
  }
  
  .group-child3,
  .group-child4,
  .group-input,
  .group-input1,
  .rectangle-group {
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 16.56rem;
    height: 2.25rem;
    border: 1px solid #d8c4c4
  }
  
  .rectangle-group {
    cursor: pointer;
    padding: 0;
    top: 22.5rem;
    background-color: #CE5F5F;
    border-radius: .3rem;
    color: #fff;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;

  }
  
  .group-child3,
  .group-child4,
  .group-input1,
  .group-input {
    font-weight: 300;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1rem;
  }

  .group-input{
    top: 13.7rem;
  }
  
  .group-input1{
    top: 10.88rem;
  }

  .group-child3 {
    top: 16.4rem;
  }

  .group-child4 {
    top: 19.1rem;
  }
  
  .rectangle-parent {
    position: absolute;
    top: 8.19rem;
    left: 50%;
    transform: translateX(-50%);
    width: 22.5rem;
    height: 28rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
  }
  
  .login {
    position: relative;
    background: linear-gradient(180deg, #fff, #80D693);
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  