<%- include('./head.ejs') %>
</head>
<body>
    <main class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh">
            <div class="d-flex justify-content-center">
                <div style="width: 45rem;" class="text-center">
                    <img class="img-fluid" src="/images/for404.avif" alt="">
                    <h1 class="fw-bold">404</h1>
                    <h3>We couldn't find any matches!</h3>
                    <a href="/shop" class="btn btn-secondary fw-bold">GO TO SHOP</a>
                </div>
            </div>
        </div>
    </main>
<%- include('./foot.ejs') %>