<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <title>FORMEN | Contact-Us</title>
            <link rel="icon" href="/images/formenLogo.png">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css2?family=Abel&family=Alegreya+Sans+SC:wght@700;800&family=Red+Hat+Text:wght@300&family=Source+Sans+3:wght@400;500;600;700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/otp.css">
</head>
<body>
    <section class="row justify-content-center align-items-center mx-4" style="height: 86vh;">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="row justify-content-center col-sm-6 text-center text-black">
                    <div class="d-flex align-items-center justify-content-center">
                        <form class="main-form form-control py-4 px-2" action="/send-mail" method="post" id="contactForm" style="width: 25rem;">
                            <h4 class="login-title text-center">Contact Admin</h4>
                            <h6 class="text-center text-danger"><%=locals.context?context:'' %></h6>
                            <div class="form-outline mb-2 mx-3">
                                <input type="text" name="name" placeholder="Name" id="userName" class="form-control login-input">
                            </div>
                            <div class="form-outline mb-2 mx-3">
                                <input type="number" name="mobile" placeholder="Registered mobile" id="userMobile" class="form-control login-input">
                            </div>
                            <div class="form-outline mb-2 mx-3">
                                <input type="text" name="email" placeholder="Email" id="userEmail" class="form-control login-input">
                            </div>
                            <div class="form-outline mb-2 mx-3">
                                <textarea name="message" id="messageToAdmin" cols="30" rows="5" placeholder="Message" class="form-control login-input"></textarea>
                            </div>
                            <div id="formError" class="px-2 text-center text-danger"></div>
                            <div class="mx-3 mt-3">
                                <button class="btn btn-secondary fw-bold w-100" type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/javascript/validateContactForm.js"></script>
<%- include('./foot.ejs') %>