<link rel="stylesheet" href="/css/footer.css">
<footer class="mt-5 p-5">
    <div>
        <div class="row">
            <div class="col-md-3 my-2">
                <h5 class="mb-1">FORMEN</h5>
                <div class="d-flex flex-column">
                    <a href="">Who We Are</a>
                    <a href="">Terms & Conditions</a>
                    <a href="">We Respect Your Privacy</a>
                    <a href="/contact-us">Contact Us</a>
                </div>
            </div>
            <div class="col-md-3 my-2">
                <h5 class="mb-1">SHOP BY</h5>
                <div class="d-flex flex-column">
                    <a href="/">Home</a>
                    <a href="/shop">Shop</a>
                    <a href="/shop?category=jeans">Jeans</a>
                    <a href="/shop?category=shirt">Shirts</a>
                    <a href="/shop?category=t-shirt">T-Shirts</a>
                    <a href="/shop?category=cap">Caps</a>
                </div>
            </div>
            <div class="col-md-3 my-2">
                <h5 class="mb-1">FOLLOW US</h5>
                <div class="d-flex flex-column">
                    <a href="">Instagram</a>
                    <a href="">Facebook</a>
                </div>
            </div>
            <div class="col-md-3 my-2">
                <div style="width: 15rem;">
                    <a href="/">
                        <img class="img-fluid" src="/images/FORMEN_LOGO.png" alt="FORMEN">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>