<%- include('./head.ejs') %>
    <link rel="stylesheet" href="/css/otp.css">
</head>
<body>
    <section class="row justify-content-center align-items-center mx-4" style="height: 86vh;">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="row justify-content-center col-sm-6 text-center text-black">
                    <div class="d-flex align-items-center justify-content-center">
                        <form class="main-form form-control py-5 px-2" id="resetPasswordForm" style="width: 21rem;">
                            <h5 class="login-title text-start ms-4 mb-2">Reset Password</h5>
                            <div class="form-outline mb-3 mx-3">
                                <input type="number" name="mobile" id="mobileInput" placeholder="Enter Your Mobile Number" class="form-control login-input">
                            </div>
                            <div class="text-danger text-center" id="warningsMobile"></div>
                            <div class="d-grid gap-2 mx-3 mb-2">
                                <button class="btn btn-secondary fw-bold" type="submit">SEND OTP</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascript/forgotPassword.js"></script>
<%- include('./foot.ejs') %>