
<header>
    <nav class="navbar py-1 d-flex justify-content-between px-lg-5 navbar-expand-lg navbar-light bg-light" style="box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.25);">
  
        <div class="d-flex justify-content-between align-items-center w-100 container-fluid">
            <div class="">
                <a href="/"><img class="img-fluid" style="width: 8rem;" src="/images/FORMEN_LOGO.png" alt=""></a>
            </div>
            <div class="d-sm-flex d-lg-flex ms-2 img-fluid justify-content-between d-none">
                <h6>BAG</h6>
                <hr class="mt-2 mx-2 border border-secondary text-lg" style="width: 3.5rem;">
                <h6>ADDRESS</h6>
                <hr class="mt-2 mx-2 border border-secondary" style="width: 3.5rem;">
                <h6>PAYMENT</h6>
            </div>
            <div class="d-flex">
                <h4 class="me-1"><i class="fa fa-sharp fa-light fa-shield-halved"></i></h4>
                <p>100% SECURE</p>
            </div>
        </div>
    </nav>
</header>