<%- include('./head.ejs') %>
</head>
<body>
    <%- include('./header.ejs') %>
    <main>
        <div class="d-flex justify-content-center align-items-center flex-column h-100">
            <h3>ORDER SUCCESSFULL</h3>
            <div>
                <img class="img-fluid" src="/images/deliveryVan.jpg" alt="">
            </div>
            <div class="d-flex">
                <a href="/"><button class="btn btn-info btn-lg m-3 fw-bold">GO TO HOME</button></a>
                <a href="/orders&returns"><button class="btn btn-info btn-lg m-3 fw-bold">ORDER DETAILS</button></a>
            </div>
        </div>
    </main>

<%- include('./foot.ejs') %>