<%- include('./head.ejs') %>
    <link rel="stylesheet" href="/css/otp.css">
</head>
<body>
    <section class="row justify-content-center align-items-center mx-4" style="height: 86vh;">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="row justify-content-center col-sm-6 text-center text-black">
                    <div class="d-flex align-items-center justify-content-center">
                        <form class="main-form form-control py-4 px-2" action="/passwordReset" method="post" style="width: 21rem;">
                            <div class="d-flex justify-content-start">
                                <img class="img-fluid ms-3 mb-2" src="/images/changePass.jpg" alt="" style="width: 6rem;">
                            </div>
                            <h6 class="text-center text-danger"><%=locals.context?context:'' %></h6>
                            <h5 class="login-title text-start ms-4">Change Password</h5>
                            <div class="form-outline mb-4 mx-3">
                                <input type="password" name="password" placeholder="Password" class="form-control login-input my-2">
                                <input type="password" name="confirmPassword" placeholder="Confirm Password" class="form-control login-input my-2">
                            </div>
                            <div class="mx-3">
                                <button class="btn btn-secondary fw-bold w-100">CHANGE PASSWORD</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/javascript/otpTimer.js"></script>
<%- include('./foot.ejs') %>