.form-control{
    font-size: 1rem !important;
}

body{
    background: linear-gradient(180deg, #fff, #80D693)
}

.main-form{
   box-shadow:  4px 4px 7px 3px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
}

.login-banner img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.login-title{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
}

h3{
    margin: 0;
}

.login-input{
    font-weight: 300;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1rem;
}

.login-btn{
    background-color: #CE5F5F;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    color: #fff;
}