body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
    --font-roboto: Roboto;
    --font-source-sans-pro: "Source Sans Pro";
    --font-public-sans: "Public Sans";
    --font-alegreya-sans-sc: "Alegreya Sans SC";
    --font-abel: Abel;
    --font-red-hat-text: "Red Hat Text";
    --font-pt-sans: "PT Sans";
  
    /* font sizes */
    --font-size-sm: 0.88rem;
    --font-size-mini: 0.94rem;
    --font-size-3xs: 0.63rem;
    --font-size-5xl: 1.5rem;
    --font-size-xs: 0.75rem;
    --font-size-xl: 1.25rem;
    --font-size-13xl: 2rem;
    --font-size-lg: 1.13rem;
    --font-size-mid: 1.06rem;
    --font-size-3xl: 1.38rem;
    --font-size-11xl: 1.88rem;
    --font-size-6xl: 1.56rem;
  
    /* Colors */
    --color-ghostwhite: #f5f5f9;
    --color-gray-100: rgba(0, 0, 0, 0.4);
    --color-gray-200: rgba(0, 0, 0, 0.75);
    --color-gray-300: rgba(0, 0, 0, 0.7);
    --color-gray-400: rgba(154, 136, 136, 0);
    --color-gray-500: rgba(0, 0, 0, 0.6);
    --color-gray-600: rgba(0, 0, 0, 0.5);
    --color-gray-700: rgba(0, 0, 0, 0.15);
    --color-gray-800: rgba(0, 0, 0, 0);
    --color-black: #000;
    --color-mediumpurple-100: #7769d2;
    --color-mediumpurple-200: rgba(119, 105, 210, 0);
    --color-white: #fff;
    --color-tan: #b19975;
    --color-dimgray: #666;
    --color-darkslategray-100: #333;
    --color-lavender-100: #d1d6e9;
    --color-lavender-200: rgba(209, 214, 233, 0);
    --color-darkgray-100: #aa9696;
    --color-darkgray-200: rgba(182, 170, 158, 0.54);
    --color-gainsboro-100: #d9d9d9;
    --color-gainsboro-200: rgba(217, 217, 217, 0);
    --color-blue: #1400ff;
    --color-red: #ff0000;
    --color-slateblue: #6e53bc;
    --color-navy: rgba(36, 33, 148, 0.7);
    --color-mediumslateblue: #0c4cf0;
  
    /* border radiuses */
    --br-10xs: 3px;
    --br-12xs: 1px;
    --br-8xs: 5px;
    --br-3xs: 10px;
    --br-11xs: 2px;
  }
  