body{
    margin-left: 25%;
    margin: 0;
}
.sidebar{
    display: inline-block;
    background-color: rgb(165, 105, 105);
    width: 27%;
    height: 100vh;
    position: fixed;
}

.main-section{
    display: inline-block;
    background-color: blue;
    width: 70%;
    /* height: 200vh; */
}